.load{
    background-color:yellow;
    p{
        padding: 12px;
    }
    .load-ball {
        position:relative;
        height:100px;
    }
    .sc-jsMahE.MquSH {
        position:absolute;
        top:40%;
    }
}